---
import "../styles/global.css";
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description: string;
  url: string;
  image: string;
  frontmatter: any;
  robots: string;
}
const { title, description, image, frontmatter, robots } = Astro.props as Props;
---

<html lang="en">
  <MainHead
    title={title}
    description={description}
    image={image}
    frontmatter={frontmatter}
    robots={robots}
  />
  <body>
    <Nav />
    <main>
      <slot>Default text</slot>
    </main>
    <Footer />
  </body>
</html>
